<div class="p-1 pickk">
    <div class="row custom">
        
        <ng-container class="col" *ngFor="let colors of tabSize;let i = index">
            <div class="pastille m-2" [ngStyle]="{'backgroundColor': tabSize[i]}"></div>
        </ng-container>
    </div>

    <div class="row custom pick">
        <h2> {{tryLeft}} try left</h2>
        <ng-container *ngIf="colorTab">
            <ng-container class="col" *ngFor="let colors of colorTab">
                <div (click)="getColor(colors)" class="pastille m-2" [ngStyle]="{'backgroundColor': colors}"></div>
            </ng-container>
        </ng-container>
    </div>

    <div class="row g-2 justify-content-center">
        <button [disabled]="secureCheck()" class="btn btn-light" (click)="sendSample()" >Valider</button>
        <button [disabled]="!secureCheckReset()" class="btn btn-light" (click)="resetAll()" >reset</button>
        <ng-container *ngIf="isFinish && winner">
            <form (ngSubmit)="submitted()">
                <label for="pse">pseudo</label>
                <input [(ngModel)]="pseudo" type="text" name="pseudo" id="pse">
                <button type="submit"  class="btn btn-dark text-center " >send</button>
            </form>
        </ng-container>

        <ng-container *ngIf="isFinish && !winner" #lose>
            <button class="btn btn-dark" routerLink="/" >restart</button>
        </ng-container>
    </div>
</div>