<div class="containerr">
    <div [ngStyle]="{'backgroundColor' : item.hasWin ? 'lightgreen' : 'tomato'}"  *ngFor="let item of items" class="child">
    <button class="btn btn-danger" style="float: left;padding: 5px;" (click)="deleteRecord(item.id)">delete</button>
    <p> name : {{ item.player }}</p>
    <p> Nombre de couleur : {{ item.nb_color }}</p>
    <p> Nombre de tentative : {{ item.nb_restante }}</p>
    <p> Nombre de tentative restante : {{ item.nb_restante }}</p>
    <p> victoire : {{ item.hasWin }}</p>
    </div>
</div>

