.history{
    height: auto;
    width: auto;
    border: 1px solid black;
    background-color: aqua;
}
.pastille{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;

}
.bg{
    background-color: red;
}