
<div class="history">
    <ng-container *ngFor="let colors of getSample">
        <div class="wrapper">
        <ng-container *ngFor="let items of colors;let i = index;">
            <div style="margin-left: 5px;border-radius: 15px;padding: 0px 5px;" [appColorchecker]="toFindColors" [idOf]="i" [tabInput]="colors" [getOne]="items">
                
                <div class="pastille" [ngStyle]="{'backgroundColor': items}">

                </div>
            </div>
        </ng-container>   
        </div>
        
    </ng-container>
</div> 